<html>
    <body>
        <h1>Hello.</h1>
        <p>I can provide current weather information for you. 
            Before we start, please have ready the latitude and 
            longitute for the location you'd like to obtain
            weather input about. Please format the geocordinates 
            as using the simple decimal standard coordinates: 

            15.23456, -30.67890.

            DO NOT use any of the following common formats:
            (1) Decimal Degrees (DD)
            (2) Degrees and Decimal Minutes (DDM)
            (3) Degrees, Minutes, and Seconds (DMS)
            ONLY SIMPLE DECIMAL STANDARD COORDINATES WILL WORK
            This is a page rendered from this file.</p>
        <form action="plot2" method="GET">
            <label>
                How many points to plot
                <input name="n" />
            </label>
            <input type="submit" />
        </form>
    </body>
</html>
